# ignore enviornments
.env
.venv
.conda
GT/code/gt_env/
GT/code/__pycache__/

# ignore data
CLIN/data

# ignore GT outputs
GT/output

# ignore the documentation scripts and folders
GT/Graph_Theory_Pipeline_Documentation.docx
GT/generate_documentation.py

